* {
  cursor: url('/Elementos/Puntero/Mous\ mazorca.png'), auto;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* evita scroll durante la carga */
}

#main {
  visibility: hidden; /* oculto hasta que cargue */
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


#loader video {
  width: 300px; /* ajusta según diseño */
  height: auto;
  object-fit: contain;
}



.Slider{
    position: relative;
    top: 0;
    left: 0;
}

.In-Slider{
    top: 0;
    left: 0;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none;
    background-image: url(/Img/Pared\ del\ mural\ completo.jpg);
    touch-action: manipulation;
    pointer-events: all;

}

.slide{
    height: 100vh;
    width: auto;
    flex: 1 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    height: 100vh;
    width: auto;
}

.slide img {
 height: 100vh;         /* ocupa todo el alto visible */
  width: auto;           /* mantiene proporción horizontal */
  object-fit: cover;     /* recorta lo que sobra horizontalmente */
  display: block;
}


.slide_content{
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


.controls {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 50%;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      box-sizing: border-box;
      justify-content: space-between;
      transform: translateY(-50%);
      pointer-events: all;
      z-index: 10;
    }

.Button_Back{
background: linear-gradient(to left, transparent, rgba(255,255,255,0.2));
}
.Button_Next{
background: linear-gradient(to right, transparent, rgba(255,255,255,0.2));
}

.controls button {
      height: 100vh;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      opacity: 0.8;
      border:none;
      color: rgb(170, 154, 4);
      font-size: 2rem;
      padding: 0.5rem 1rem;
      touch-action: manipulation;
}

.controls button:hover, button:active, button:focus  {
  opacity: 1;
}


@media (max-width: 500px){
 .In-Slider{
    flex: 0 0 100%;
 }
}

@media (max-width: 768px) {
  .slide {
    height: 100vh;
  }
}
