/*Estilo para la navbar dentro de las subpaginas de los murales*/

.header-murales{
    position: fixed;
    right: 0;
    top:0;

    transform: translateX(+50vw);

    z-index: 1040;
}


.headnav-mural-main {

    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 20vw;

    display: flex;
    flex-direction: column;

    background: black;
  
    transition: transform 0.3s ease-in-out;
    transform: translateX(+50vw);

    z-index: 1050;
}

.mostrar-navbar {
    transform: translateX(0);
}

@media (max-width:738px){
  
    .headnav-mural-main{
        width: 30vw !important;
    }
    .headnav-mural-link{
        font-size: clamp(0.8rem, 1vw, 2rem) !important;
    }
}

.headnav-mural-btn{

    position: fixed;
    right: 20px;
    bottom: 20px;

    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color: rgb(255, 255, 255);
    color: #000000;
    
    font-size: 20px;    
    font-size: clamp(0.8rem, 1vw, 1rem);

    transition: transform 1s ease;
    cursor: pointer;

    z-index: 1060;
}

.btn_color{
    background-color: rgb(7, 7, 7);
    color: #ffffff;
}

.headnav-mural{

    margin: 0px;
    padding: 10%;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 0.7;
    gap:0;
    align-items: center;
}

.headnav-mural-item{


    margin: 0;
    padding: 5px;
    max-height: 50%;
    box-sizing: border-box;
    border-style: solid;
    border: black;

    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-content: center;

    list-style: none;

    background: rgb(0, 0, 0); 
    
}


.headnav-mural-item:first-child{

    
    width: 100%;
    height: 20%;
    padding-left: 10%;
    
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:20%;
    align-items: center;
    
}

.headnav-mural-link{
    
    display: block;
    text-align: center; 
    
    font-family: "Source Sans 3", sans-serif;
    color: rgb(222, 222, 222);
    text-decoration: none;
    font-size: clamp(0.5rem, 2vw, 1rem);
    
    transition: all 0.3s ease-out;
}


@media (hover: hover) {
.headnav-mural-link:hover{
   color: white;
   text-shadow: 2px 3px 5px rgba(250, 152, 25, 0.831);
   transform: translateY(-3px);
}
}

.headnav-mural-link:active{
    color: white;
    transform: translateY(3px);
}

.headnav-mural .headnav-mural-img{
    
    height: 100%; 
    width: 100%;
    max-height: 100%;
    
    display: block;
    text-align: left;

}

.headnav-mural-item .headnav-mural-img img{

    height: 100%;
    width: 100%;
    object-fit: contain;
   
}




