/* Propiedades de la ventana modal con el reproductor mp3 y los hotspot para el mural La Epopeya */

.mp3-container-rep-pop{

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    align-content: center;

    background-color: rgba(46, 46, 46, 0.2);
    backdrop-filter: blur(10px);
    
    transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out;

    z-index: 1070;

    display: none;
}


.mp3-modal-pop{
    
    position: fixed;

    width: 80%;
    height: 80%;
    z-index: 1080;

    display: none;
    align-content: center;

    transform: scale(0.9); 
    transition: transform 3s ease-in-out;   
}

.mp3-pop-cont{
       
    height: 100%;
    width: 100%;

    align-content: center;

    border-radius: 20px;
    background-image: url(/assets/img/Background/Fondo-papel5.webp);
    background-size: cover;
}

.mp3-pop-tex-head{

    display: flex;
    justify-content: space-between;
}

.mp3-pop-cont-item p{
    font-family: 'FF Good Pro';
    text-align: justify;
    color: black;
}

.mp3-pop-cont-item h5{
    font-family: 'FF Good Pro';
    text-align: justify;
    color: black;
}


hr {
    width: 100%; 
    margin-top: 15px; 
    margin-bottom: 20px;
    
    border: none; 
    border-top: 4px solid #333;
    
}

.mp3-text-cont-contain{

    height: auto;
    max-height: 60%;
    box-sizing: border-box;

    overflow-y: scroll;
    scrollbar-width: none;
    
}

.mp3-pop-cont-item h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: black;
    font-size: clamp(1rem, 3vw, 3rem);

}
.mp3-pop-cont-item{
    color: black;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    text-align: justify;
    font-size: clamp(1rem, 1vw, 2rem);
    color: black;
}



.mostrar-mp3{

     display:block !important;
}


.mp3-album-information{

    height: 20%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgba(96, 56, 0, 0.1);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}



.mp3-container-visualizer{

    padding: 2%;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    align-items: center;

    background-color: rgba(76, 36, 1, 0.4);
    
}





.mp3-track-portada-cont{

    padding: 10px;

    height: 100%;
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 50px;

    align-items: center;
}

#mp3-track-portada{

    height: 100%;
    max-width: 100%;
    max-height: 100%;
   
    object-fit: contain;
}



@media (max-width:738px){
  
    .mp3-container-reproductor{

        width: 80% !important;
        height: 60% !important;
        
        flex-basis: 60%;
    }

    .mp3-container-content-media{

        height: 40%;
        max-height: 40% !important;
        max-width: 100% !important;

        flex-basis: 100% !important;

    }
}



.mp3-container-content-media{  

    height: 100%;
    width: 40%;
    max-width: 40%;
    max-height: 100%;
    
    flex-shrink: 1;
    flex-basis: 40%;
    justify-items: center;
}


.mp3-container-reproductor{

    padding: 10px;

    width: 60%;
    height: 90%;
    max-height: 90%;
    max-width: 90%;
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 10px;
    justify-self: center;
    
    
    background-color: rgba(46, 46, 46, 0.2);
    backdrop-filter: blur(10px);
}

.trackinfo{

    height: 20%;
    max-width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.track-title{
    flex-grow: 1;
    margin-left: 2%;
}

.track-title h1{
    margin: 0;
    padding: 0;

    text-align: justify;
    font-weight: bold;
    font-style: italic;
    font-size: clamp(1rem, 2vw, 5rem);
    color: whitesmoke;
    
}


.track-title p{

    margin: 0;
    padding: 0;

    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
    font-size: clamp(0.8rem, 2vw, 2rem);
    color: whitesmoke;
    text-align: justify;

       
}

.folder-pop{
    height: 100%;
    width: 30%;

    flex-basis: 20%;
    align-content: center;
    display: none;
    text-align: center;
    

}

.folder-pop img{
    height: 100%;
    width: 80%;
    object-fit: contain;
}






#mp3-controls_btn .__slider {

    -webkit-appearance: none;
    appearance: none;
    background: #b98f05; /* Grey background */
    outline: none; /* Remove outline */
    height: 5%;
    border-radius: 10px;
    border-style:solid;
    border-color: #644e06; 
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
 
#mp3-controls_btn .__slider :hover {
  opacity: 1; /* Fully shown on mouse-over */
}
#mp3-controls_btn .__slider::-webkit-slider-thumb {

    width: 50px;
    height: 50px;
    background-size: 90%;

    -webkit-appearance: none;
    appearance: none;
    background: url('/assets/img/Reproductor/SliderBar.webp') no-repeat center center; 

    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    

}

#mp3-controls_btn{

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2%;

    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}






.--controls-st{

    background-color: rgba(235, 183, 42, 0.1);
    backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgba(134, 100, 6, 0.4);
    border-radius: 10px;
}


.reproducer{

    height: 50%;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;

}



.reproducer button{

    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;

    -webkit-appearance: none;
    opacity: 0.9;
    appearance: none;
    background: none;
    outline: none;
    border: none;

}

.rep_button{
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.rep_button img{
    
    max-height: 100%;
    width: 100%;

    object-fit: contain;
    
}

/*#Play-Pause{
            width: 50px;
            height: 50px;
         }*/

#mp3-controls_btn img{
    background-color: #644e06;
    border-style: solid;
    border-color: #b98f05;
    border-radius: 50%;
    
}

#mp3-controls_btn button:hover{
    opacity: 2;
}

#mp3-controls_btn button:active{
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

#track_list {
    
    flex-grow: 1;

    overflow-y:scroll;
    scrollbar-width: none;
    overflow-x: hidden;
   

}


#track_list .mp3-listitems{

    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;

    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    gap: 10px;
    flex-direction: column;

    list-style-type: none;
    scroll-behavior: smooth;
}

.track_list-bg{
    border-color: rgba(95, 56, 1, 0.2);
    border-style: solid;

    background-color: rgba(96, 56, 0, 0.1);

    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    padding: 5px;
    gap: 3px;
}

.mp3-listitems::-webkit-scrollbar{
    width: 0;
}

.mp3-listitems::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.1);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}

.mp3-listitems::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.mp3-listitems::-webkit-scrollbar-corner{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.mp3-listitems::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


.mp3-listitems li{

    padding: 5px;
    height: 40%;
    width: 98%;
    
    flex-grow: 1;
    display: block;
    
    font-family: "FF Good Pro";
    font-weight:normal;
    font-style: normal;
    font-size: clamp(0.8rem, 1vw, 2rem);
    color: whitesmoke;
    text-justify: distribute;

    border-radius: 10px;
    border-style: solid;
    border-color: rgb(112, 65, 0, 0.2);
    border-radius: 10px;

    color: white;

    background-color: rgba(185, 111, 0, 0.1);
    filter: drop-shadow(2px 2px 5px rgba(110, 110, 110, 0.5));
}

.mp3-listitems li:hover{
    background-color: rgba(243, 189, 118, 0.3);
}

.mp3-listitems li.active{
    background-color: rgba(243, 189, 118, 0.3);
    transform: translateY(2px);
}
