

.Hotspot-1{
   left: 10.2159468438538%; top: 54.3121149897331%; width: 1.93798449612403%; height: 17.1457905544148%;
  z-index: 10;
}

.Hotspot-2{
   left: 86.1572535991141%; top: 85.6262833675565%; width: 6.09080841638981%; height: 14.1683778234086%;
   z-index: 10;
}

.Hotspot-3{
  left: 28.8482834994463%; top: 6.16016427104723%; width: 7.19822812846069%; height: 25.6673511293634%;
  z-index: 10;
}

.Hotspot-4{
    left: 61.7386489479513%; top: 16.4271047227926%; width: 2.35326688815061%; height: 14.3737166324435%;
  z-index: 10;}


.Hotspot-5{
  left: 0%; top: 71.4285714285714%; width: 4.4296788482835%; height: 23.2683982683983%;
    z-index: 10;

}



.Hotspot-6{
    left: 20.9856035437431%; top: 77.0020533880903%; width: 2.4640088593577%; height: 22.5872689938398%;
    z-index: 10;
}

.Hotspot-7{left: 77.1594684385382%; top: 49.4866529774127%; width: 2.04872646733112%; height: 21.047227926078%;
 z-index: 10;
}

.Hotspot-8{
  left: 72.4252491694352%; top: 49.4866529774127%; width: 4.65116279069767%; height: 25.1540041067762%;
    z-index: 10;
}

.Hotspot-9{left: 93.2170542635659%; top: 50.2164502164502%; width: 6.28460686600221%; height: 16.2337662337662%;
   z-index: 10;
}


.Hotspot-10{
left: 30.0387596899225%; top: 49.4866529774127%; width: 3.7375415282392%; height: 29.7741273100616%;
   z-index: 10;
}

.Hotspot-11{
   left: 13.4274640088594%; top: 59.5482546201232%; width: 4.4296788482835%; height: 12.3203285420945%;
    z-index: 10;
}

.Hotspot-12{
    left: 92.358803986711%; top: 74.9486652977413%; width: 6.22923588039867%; height: 22.8952772073922%;
  z-index: 10;
}
