.Scroll-Container{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    max-width: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    pointer-events: all;    
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    background-image: url(/assets/img/Background/Pared\ del\ mural\ completo.jpg);

}

.Mural-Container{
    

    position: relative; 
    width: fit-content;
    top: 0px;
    left: 0px;
    height: 90%;
}

.Img-Mural{
    height: 100%;
}


.Hotspot-Container{
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    position: absolute; 
    height: 100%;
    width: 100%;  
    
   
}

.inside {
    display: block;
    height: 100%;
    width: 100%;
    object-fit:contain;

}

.Position-Hotspot{
     padding: 0px;
    margin: 0px;
    position:absolute;  
}


.inside:hover{
    /* Opciones: */
    /* A) Usar un segundo background-image (otra parte del sprite) */
 
    
    /* B) Usar un filtro CSS para darle un brillo */
    filter: brightness(1.5) drop-shadow(0 0 10px rgb(0, 240, 244));
    transform: translateY(4px);
    
    /* El filtro y el brillo SÓLO se verán DENTRO del área definida por clip-path */
}


.modal-pop{

    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    z-index: 1010;
    display: none;

    background-color: rgba(46, 46, 46, 0.2);
    backdrop-filter: blur(10px);

    justify-items: center;
    align-content: center;
}

.pop-cont{
    height: 80%;
    width: 80%;
    border-radius: 20px;

    align-content: center;

    background: linear-gradient(to bottom, rgb(4, 202, 202, 0.8), rgb(0, 0, 0, 0.8));
}


.mostrar{
    display: block;
}


@media (max-width:738px){
  
    .pop-cont-text{
      height: 60% !important;
    }

    .track-portada-cont{
    height: 40% !important;
    flex-basis: 100% !important;
    }
}


.track-portada-cont{
    
    width: 40%;
    max-height: 100%;
    align-content: center;
    text-align: center;
    height: 100%;
    
    box-sizing: border-box;
    border-radius: 50px;

}

.conainer-text-img{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    height: 100%;
    width: 100%;

    padding: 5%;

    justify-items: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.track-portada-cont img{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    

}

.pop-cont-text{
    
   
    display: flex;


    flex-direction: column;
    
    flex-wrap: nowrap;
    
    width: 20%;
    
    gap: 5px;

    flex-grow: 1;
    white-space: nowrap;
    padding: 2%;
    box-sizing: border-box;
}


.pop-tex-head h1{
    text-align: justify;
    font-weight: bold;
    font-style: italic;
    font-size: clamp(1.5rem, 1vw, 5rem);
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.pop-tex-head h2{
    text-align: justify;
    font-weight: bold;
    font-style: italic;
    font-size: clamp(1rem, 1vw, 5rem);
    color: whitesmoke;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.text-cont-contain p{
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
    font-size: clamp(0.8rem, 1vw, 2rem);
    color: whitesmoke;
    text-align: justify;
    white-space: normal;
     margin: 0;
    padding: 0;
}


@keyframes pulse-glow {
    0% {
        filter: brightness(0.9) drop-shadow(0 0 10px rgb(8, 241, 249));; /* Brillo inicial */
        opacity: 0.8;
    }
    50% {
         filter: brightness(1.5) drop-shadow(0 0 10px rgb(8, 241, 249)); /* Brillo máximo */
        opacity: 1; /* Ligeramente más opaco */
    }
    100% {
         filter: brightness(1) drop-shadow(0 0 10px rgb(8, 241, 249)); /* Vuelve al brillo inicial */
        opacity: 0.8;
    }
}

/* --- Clase para Activar la Animación --- */
.pulsating {
    animation: pulse-glow 1s infinite alternate ease-in-out; /* 2s duración, infinito, alternar (ida y vuelta) */
}