header{
    position: fixed;
    z-index: 1060;
    right: 0;
    top:0;
}


.headnav-main {

    display: flex;
    flex-direction: column;
   
    background: black;

    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 20vw;

    z-index: 1050;
}

.headnav-btn{
    position: fixed;

    right: 20px;
    bottom: 20px;

    height: 5%;
    width: 5%;
}

.headnav-btn button{
    
    border-radius: 50%;
}

.headnav{

    flex-grow: 0.7;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
    box-sizing: border-box;
    
    padding: 10%;

    gap:0;

    margin: 0px;

}

.headnav-item{
    background: rgb(0, 0, 0);   
    border-style: solid;
    border: black;
    list-style: none;
    
    justify-content: center;
    align-content: center;
    padding: 5px;

    margin: 0;

    flex-grow: 1;
    flex-shrink: 1;


    box-sizing: border-box;
    max-height: 50%;
    
}


.headnav-item:first-child{

    flex-basis:20%;
    width: 100%;
    height: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    padding-left: 10%;
    
}

.headnav-link{
    
    font-family: "Source Sans 3", sans-serif;
    display: block;
    color: rgb(222, 222, 222);
    text-decoration: none;
    font-size: clamp(0.5rem, 2vw, 1rem);
    text-align: center; 
    transition: all 0.3s ease-out;
}


@media (hover: hover) {
.headnav-link:hover{
   color: white;
   text-shadow: 2px 3px 5px rgba(250, 152, 25, 0.831);
   transform: translateY(-3px);
}
}

.headnav-link:active{
    color: white;
    transform: translateY(3px);
}

.headnav-item .headnav-img{
    height: 100%; 
    width: 100%;
    max-height: 100%;
    display: block;
    text-align: left;

}

.headnav-item .headnav-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
   
}
