/*Propiedades de posicionamiento de los elementos de mural o HOTSPOT*/

.hotspot-epopeya-1{
  left: 0.933780510444446%; top: 10.3896103896104%; width: 3.05701952824075%; height: 37.3376623376623%;
  z-index: 1;
}

.hotspot-epopeya-2{
    left: 3.9463343000926%; top: 16.7748917748918%; width: 2.31221840681482%; height: 35.9307359307359%;
    z-index: 3;
}

.hotspot-epopeya-3{
    left: 0.91154764114815%; top: 47.9437229437229%; width: 5.33588863111112%; height: 45.5627705627706%;
    z-index:2;
}

.hotspot-epopeya-4{
    left: 7.11451817481483%; top: 11.9047619047619%; width: 5.26919002322223%; height: 76.7316017316017%;
    z-index: 4;
}

.hotspot-epopeya-5{
    left: 17.2304737046297%; top: 9.09090909090909%; width: 4.21312873164816%; height: 68.7229437229437%;
    z-index: 6;

}

.hotspot-epopeya-6{
    left: 12.7394341067778%; top: 9.09090909090909%; width: 12.6393861949445%; height: 84.1991341991342%;
    z-index: 5;
}

.hotspot-epopeya-7{left: 27.2686141919075%; top: 9.09090909090909%; width: 8.80421624133335%; height: 58.4415584415584%;
   z-index: 6;
}

.hotspot-epopeya-8{
    left: 27.5465250581112%; top: 35.2813852813853%; width: 5.40258723900001%; height: 57.6839826839827%;
    z-index: 11;
}

.hotspot-epopeya-9{left: 30.8147568446667%; top: 32.9004329004329%; width: 10.1159555298148%; height: 60.1731601731602%;
    z-index: 10;
}


.hotspot-epopeya-10{
  left: 39.685671693889%; top: 30.3030303030303%; width: 7.05893600157409%; height: 62.7705627705628%;
  z-index: 9;
}

.hotspot-epopeya-11{
    left: 40.0191647333334%; top: 8.76623376623377%; width: 6.13627192577779%; height: 25.974025974026%;
    z-index: 7;
}

.hotspot-epopeya-12{
    left: 35.6170566126667%; top: 7.57575757575758%; width: 3.67953986853704%; height: 24.3506493506494%;
    z-index: 12;
}

.hotspot-epopeya-13{
  left: 45.2216561486668%; top: 14.8268398268398%; width: 3.6684234338889%; height: 43.2900432900433%;
   z-index: 8;
}

.hotspot-epopeya-14{left: 46.6556762182779%; top: 62.5541125541125%; width: 8.59300398301853%; height: 29.7619047619048%;
z-index: 13;
}

.hotspot-epopeya-15{
left: 54.1259203018334%; top: 7.57575757575758%; width: 8.72640119879631%; height: 50.8658008658009%;

z-index: 16;    
}

.hotspot-epopeya-16{left: 58.7948228540557%; top: 11.5800865800866%; width: 4.09084795051853%; height: 27.0562770562771%;
z-index: 16;}

.hotspot-epopeya-17{left: 61.296020649889%; top: 21.1038961038961%; width: 13.9511254834259%; height: 72.1861471861472%;
z-index: 18;}

.hotspot-epopeya-18{left: 57.8499259089631%; top: 7.79220779220779%; width: 15.5630085074074%; height: 34.6320346320346%;
z-index: 15;
}

.hotspot-epopeya-19{left: 68.2104430010372%; top: 9.52380952380952%; width: 7.43689477961112%; height: 47.6190476190476%;
z-index: 17;   
}

.hotspot-epopeya-20{left: 74.1577355377964%; top: 18.6147186147186%; width: 8.89314771851853%; height: 74.1341991341991%;
z-index: 21;
}

.hotspot-epopeya-21{left: 80.8609456306298%; top: 64.0692640692641%; width: 2.89027300851852%; height: 29.4372294372294%;
z-index: 22;
}

.hotspot-epopeya-22{left: 81.250020843315%; top: 8.65800865800866%; width: 6.05845688324075%; height: 42.4242424242424%;
z-index: 20}

.hotspot-epopeya-23{left: 93.8894070382594%; top: 16.6666666666667%; width: 5.02462846096297%; height: 76.7316017316017%;
z-index: 24;}

.hotspot-epopeya-24{left: 20.1763288863889%; top: 21.4285714285714%; width: 3.00143735500001%; height: 33.5497835497836%;
z-index: 23;}

.hotspot-epopeya-25{left: 60.7290824828334%; top: 26.4069264069264%; width: 1.48960224285185%; height: 27.0562770562771%;
z-index: 19;
}